<!DOCTYPE html>
<html>

<head>
    <title>Gist Experiment Description</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{url_for('static', filename='jqcloud.css')}}">
    <script type="text/javascript" src="{{url_for('static',filename='jquery-3.4.1.min.js')}}"></script>
</head>

<body>
    <div id="instruction" style="margin: auto; width: 1000px">
        <fieldset>
            <legend>
                <h1>Hello, {{ ID }}</h1>
            </legend>

            <p>Please kindly ignore this page. This page is currently incomplete.</p>
        </fieldset>

        <fieldset>
            <legend>
                <h2>Instructions</h2>
            </legend>

            <p>For each wordcloud, give it a/some name(s), then do the multiple choice question.</p>

            
        </fieldset>
    </div>


    <div style="margin:auto; width:1000px">
        <fieldset>
            <legend> <h2>Continue: </h3></legend>
            <a id="simple_link" onclick="addBlock()" href="javascript:void(0);">
                See the blocking effect
            </a>
            <p>When you are ready, click "Next" below.<br></p>
            <button id="start_stim">Next</button>
        </fieldset>
    </div>

    <form action="{{url_for('get_stimuli_gist_page')}}" method="POST" id="get_stimuli_page">
        <input type="hidden" name="experiment" value="gist">
    </form>

    <script type="text/javascript" src="{{url_for('static', filename='jquery-3.4.1.min.js')}}"></script>
    <script type="text/javascript">
        var turker_id = '{{ ID }}';
        var participant = '{{ Participant }}'
        
        initialize();

        function initialize() {
            var next = document.getElementById('start_stim');
            if (next) {
                next.onclick = onNextClicked;
            }
            console.log(turker_id);
            if (participant === "tested"){
                $("body").html("Hello "+turker_id+", you have already participated in this research. \n If this is your first time participating in this research, please contant us at xxx@carleton.edu. \n Thank you for your understanding.")
            }
        }
        
        $("#sample_block").attr('class', 'block')
            .css('font-size', '25px')
            .css('padding-left', '30px')
            .css('background', '#2C3539')
            .css('cursor', 'pointer')
            .html('&nbsp;&nbsp;&nbsp;&nbsp;');

        function addBlock(){
            $("#JQWC").append('<span id="block0"class="block" style="font-size: 25px; padding-left: 30px; background: rgb(44, 53, 57); position: absolute; left: 439.959px; top: 530.557px; cursor: pointer;">&nbsp;&nbsp;&nbsp;&nbsp;</span><span id="block1" class="block" style="font-size: 25px; padding-left: 30px; background: rgb(44, 53, 57); position: absolute; left: 492.041px; top: 445.943px; cursor: pointer;">&nbsp;&nbsp;&nbsp;&nbsp;</span>');
        }

        function onNextClicked() {
            var input = $("<input>").attr("type","hidden").attr("name","turker_id").val(turker_id);
            $('#get_stimuli_page').append(input).submit();
        }
    </script>

</body>

</html>