<!DOCTYPE html>
<html>

<head>
    <title>Experiment 3 Description</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{url_for('static', filename='jqcloud.css')}}">
    <script type="text/javascript" src="{{url_for('static',filename='jquery-3.4.1.min.js')}}"></script>
</head>

<body>
    <div id="instruction" style="margin: auto; width: 1000px">
        <fieldset>
            <legend>
                <h1>Hello, {{ ID }}</h1>
            </legend>

            <p>Please read these instructions. Remember that you can choose to exit the task at any time, but you will
                not receive compensation unless you finish the task.</p>
        </fieldset>

        <fieldset>
            <legend>
                <h2>Instructions</h2>
            </legend>

            <p>For each question, you will be presented with a word cloud like the one below. Some of the words are
                highlighted in <strong>black font</strong>. Your task is to click on the black word with the
                <strong>largest font size</strong>.</p>

            <p>For instance, in the word cloud below, "<strong>assure</strong>" and "<strong>romans</strong>" are
                highlighted in black font. Of the two,
                "<strong>assure</strong>" has the larger font size. Therefore, clicking "<strong>assure</strong>" would
                be
                the correct answer.</p>

            <p>Try not to read the meaning of the word, because you will not have enough time to do so. The highlighted
                words will be shown only for a <strong>limited time</strong>.
                Please simply select the word that appears bigger.</p>

            <p>After your "view time" is up, each of the highlighted black words will be covered by a equal-sized black
                box
                <span id="sample_block"></span> to prevent you from seeing the words.
                Click on the box that you think covers the largest black word.</p>

            <p>After your click is registered, the browser window will be cleaned. Then you can click on the central
                <strong style="color: red">red cross &#10011;</strong> to proceed to the next word cloud, at your pace.
                You will see
                your progress bar on the top right corner of your page.</p>

            <p>Finally, while performing this task, keep your eyes fixed on the <strong style="color: red">red
                    cross &#10011;</strong> in the middle of the word cloud rather than looking at the words (as well as
                you are
                able).</p>
        </fieldset>
    </div>
    <div id="WordCloudContainer" style="text-align: center;">
        <div id="JQWC" style="width: 1000px; height: 1000px; display: inline-block; position: relative;"class="jqcloud">
            <span class="distractor" id="JQWC_word_199" style="position: absolute; left: 338.825px; top: 893.337px; font-size: 25px;">arenas</span>
            <span class="distractor" id="JQWC_word_198" style="position: absolute; left: 147.527px; top: 466.019px; font-size: 15px;">earners</span>
            <span class="distractor" id="JQWC_word_197" style="position: absolute; left: 359.09px; top: 716.438px; font-size: 16px;">measures</span>
            <span class="distractor" id="JQWC_word_196" style="position: absolute; left: 693.032px; top: 164.425px; font-size: 23px;">noon</span>
            <span class="distractor" id="JQWC_word_195" style="position: absolute; left: 762.007px; top: 157.466px; font-size: 18px;">sen</span>
            <span class="distractor" id="JQWC_word_194" style="position: absolute; left: 906.128px; top: 257.227px; font-size: 21px;">versa</span>
            <span class="distractor" id="JQWC_word_193" style="position: absolute; left: 109.676px; top: 188.019px; font-size: 23px;">servers</span>
            <span class="distractor" id="JQWC_word_192" style="position: absolute; left: 63.626px; top: 345.233px; font-size: 21px;">usc</span>
            <span class="distractor" id="JQWC_word_191" style="position: absolute; left: 503.666px; top: 44.5582px; font-size: 25px;">cameraman</span>
            <span class="distractor" id="JQWC_word_190" style="position: absolute; left: 32.1604px; top: 465.452px; font-size: 18px;">curses</span>
            <span class="distractor" id="JQWC_word_189" style="position: absolute; left: 894.546px; top: 709.824px; font-size: 21px;">eaves</span>
            <span class="distractor" id="JQWC_word_188" style="position: absolute; left: 508.875px; top: 842.016px; font-size: 20px;">waves</span>
            <span class="distractor" id="JQWC_word_187" style="position: absolute; left: 503.485px; top: 794.204px; font-size: 18px;">canon</span>
            <span class="distractor" id="JQWC_word_186" style="position: absolute; left: 199.838px; top: 655.09px; font-size: 17px;">scream</span>
            <span class="distractor" id="JQWC_word_184" style="position: absolute; left: 910.626px; top: 308.033px; font-size: 21px;">sorrows</span>
            <span class="distractor" id="JQWC_word_183" style="position: absolute; left: 736.191px; top: 591.573px; font-size: 20px;">a.m</span>
            <span class="distractor" id="JQWC_word_181" style="position: absolute; left: 448.372px; top: 75.2391px; font-size: 16px;">raucous</span>
            <span class="distractor" id="JQWC_word_180" style="position: absolute; left: 528.3px; top: 77.9964px; font-size: 22px;">scorers</span>
            <span class="distractor" id="JQWC_word_178" style="position: absolute; left: 663.327px; top: 795.584px; font-size: 21px;">nra</span>
            <span class="distractor" id="JQWC_word_177" style="position: absolute; left: 781.9px; top: 186.958px; font-size: 15px;">announcer</span>
            <span class="distractor" id="JQWC_word_176" style="position: absolute; left: 238.462px; top: 575.573px; font-size: 15px;">moans</span>
            <span class="distractor" id="JQWC_word_175" style="position: absolute; left: 407.703px; top: 441.236px; font-size: 23px;">vcr</span>
            <span class="distractor" id="JQWC_word_174" style="position: absolute; left: 829.367px; top: 792.434px; font-size: 20px;">ensure</span>
            <span class="distractor" id="JQWC_word_173" style="position: absolute; left: 138.525px; top: 271.95px; font-size: 15px;">massacres</span>
            <span class="distractor" id="JQWC_word_172" style="position: absolute; left: 308.62px; top: 112.681px; font-size: 18px;">curses</span>
            <span class="distractor" id="JQWC_word_171" style="position: absolute; left: 874.149px; top: 682.054px; font-size: 20px;">snow</span>
            <span class="distractor" id="JQWC_word_169" style="position: absolute; left: 349.641px; top: 608.047px; font-size: 16px;">row</span>
            <span class="distractor" id="JQWC_word_168" style="position: absolute; left: 63.5778px; top: 270.806px; font-size: 25px;">rome</span>
            <span class="distractor" id="JQWC_word_167" style="position: absolute; left: 529.819px; top: 597.373px; font-size: 18px;">woo</span>
            <span class="distractor" id="JQWC_word_166" style="position: absolute; left: 902.183px; top: 352.511px; font-size: 25px;">aware</span>
            <span class="distractor" id="JQWC_word_165" style="position: absolute; left: 371.675px; top: 764.092px; font-size: 16px;">ceo</span>
            <span class="distractor" id="JQWC_word_164" style="position: absolute; left: 21.0311px; top: 486.718px; font-size: 16px;">noun</span>
            <span class="distractor" id="JQWC_word_163" style="position: absolute; left: 135.121px; top: 738.097px; font-size: 25px;">u.s.a</span>
            <span class="distractor" id="JQWC_word_162" style="position: absolute; left: 125.659px; top: 772.405px; font-size: 24px;">memo</span>
            <span class="distractor" id="JQWC_word_161" style="position: absolute; left: 526.082px; top: 871.002px; font-size: 24px;">carcasses</span>
            <span class="distractor" id="JQWC_word_160" style="position: absolute; left: 376.979px; top: 866.74px; font-size: 23px;">romeo</span>
            <span class="distractor" id="JQWC_word_159" style="position: absolute; left: 433.57px; top: 156.003px; font-size: 18px;">cannons</span>
            <span class="distractor" id="JQWC_word_158" style="position: absolute; left: 857.731px; top: 644.877px; font-size: 20px;">overcome</span>
            <span class="distractor" id="JQWC_word_157" style="position: absolute; left: 353.731px; top: 168.363px; font-size: 19px;">mcewen</span>
            <span class="distractor" id="JQWC_word_156" style="position: absolute; left: 947.171px; top: 417.688px; font-size: 23px;">osama</span>
            <span class="distractor" id="JQWC_word_155" style="position: absolute; left: 23.3301px; top: 575.632px; font-size: 21px;">excess</span>
            <span class="distractor" id="JQWC_word_154" style="position: absolute; left: 913.323px; top: 576.798px; font-size: 25px;">romance</span>
            <span class="distractor" id="JQWC_word_153" style="position: absolute; left: 118.166px; top: 250.186px; font-size: 17px;">overuse</span>
            <span class="distractor" id="JQWC_word_152" style="position: absolute; left: 96.5321px; top: 402.693px; font-size: 18px;">crew</span>
            <span class="distractor" id="JQWC_word_151" style="position: absolute; left: 893.465px; top: 613.566px; font-size: 22px;">came</span>
            <span class="distractor" id="JQWC_word_150" style="position: absolute; left: 596.717px; top: 813.996px; font-size: 22px;">emma</span>
            <span class="distractor" id="JQWC_word_149" style="position: absolute; left: 626.588px; top: 129.128px; font-size: 17px;">awesome</span>
            <span class="distractor" id="JQWC_word_148" style="position: absolute; left: 557.379px; top: 462.1px; font-size: 15px;">now</span>
            <span class="distractor" id="JQWC_word_147" style="position: absolute; left: 306.408px; top: 152.205px; font-size: 21px;">s.c</span>
            <span class="distractor" id="JQWC_word_146" style="position: absolute; left: 319.789px; top: 821.561px; font-size: 23px;">sesame</span>
            <span class="distractor" id="JQWC_word_145" style="position: absolute; left: 92.3166px; top: 373.934px; font-size: 25px;">ceo</span>
            <span class="distractor" id="JQWC_word_144" style="position: absolute; left: 298.311px; top: 722.899px; font-size: 20px;">roars</span>
            <span class="distractor" id="JQWC_word_143" style="position: absolute; left: 111.333px; top: 681.854px; font-size: 21px;">on-screen</span>
            <span class="distractor" id="JQWC_word_142" style="position: absolute; left: 455.271px; top: 123.576px; font-size: 20px;">roar</span>
            <span class="distractor" id="JQWC_word_141" style="position: absolute; left: 798.608px; top: 221.035px; font-size: 24px;">ana</span>
            <span class="distractor" id="JQWC_word_140" style="position: absolute; left: 547.381px; top: 160.603px; font-size: 18px;">mousse</span>
            <span class="distractor" id="JQWC_word_139" style="position: absolute; left: 366.187px; top: 799.819px; font-size: 18px;">renown</span>
            <span class="distractor" id="JQWC_word_138" style="position: absolute; left: 235.917px; top: 201.384px; font-size: 25px;">zoe</span>
            <span class="distractor" id="JQWC_word_137" style="position: absolute; left: 804.382px; top: 261.278px; font-size: 21px;">warmer</span>
            <span class="distractor" id="JQWC_word_136" style="position: absolute; left: 92.9245px; top: 649.173px; font-size: 24px;">acc</span>
            <span class="distractor" id="JQWC_word_135" style="position: absolute; left: 210.137px; top: 747.79px; font-size: 23px;">w.va</span>
            <span class="distractor" id="JQWC_word_134" style="position: absolute; left: 80.7168px; top: 604.564px; font-size: 17px;">crews</span>
            <span class="distractor" id="JQWC_word_133" style="position: absolute; left: 102.02px; top: 437.105px; font-size: 25px;">norms</span>
            <span class="distractor" id="JQWC_word_132" style="position: absolute; left: 816.203px; top: 723.642px; font-size: 25px;">eve</span>
            <span class="distractor" id="JQWC_word_131" style="position: absolute; left: 417.623px; top: 824.764px; font-size: 20px;">removes</span>
            <span class="distractor" id="JQWC_word_130" style="position: absolute; left: 815.139px; top: 642.932px; font-size: 17px;">nun</span>
            <span class="distractor" id="JQWC_word_129" style="position: absolute; left: 136.487px; top: 328.399px; font-size: 16px;">carr</span>
            <span class="distractor" id="JQWC_word_128" style="position: absolute; left: 265.517px; top: 784.041px; font-size: 21px;">warsaw</span>
            <span class="distractor" id="JQWC_word_127" style="position: absolute; left: 336.155px; top: 243.073px; font-size: 19px;">roars</span>
            <span class="distractor" id="JQWC_word_126" style="position: absolute; left: 820.286px; top: 683.445px; font-size: 16px;">roars</span>
            <span class="distractor" id="JQWC_word_125" style="position: absolute; left: 53.4465px; top: 527.213px; font-size: 16px;">marcos</span>
            <span class="distractor" id="JQWC_word_124" style="position: absolute; left: 240.459px; top: 235.325px; font-size: 24px;">ceos</span>
            <span class="distractor" id="JQWC_word_123" style="position: absolute; left: 859.455px; top: 463.613px; font-size: 24px;">owes</span>
            <span class="distractor" id="JQWC_word_122" style="position: absolute; left: 360.977px; top: 218.096px; font-size: 19px;">erase</span>
            <span class="distractor" id="JQWC_word_121" style="position: absolute; left: 555.575px; top: 655.083px; font-size: 22px;">swear</span>
            <span class="distractor" id="JQWC_word_120" style="position: absolute; left: 670.67px; top: 586.656px; font-size: 18px;">usc</span>
            <span class="distractor" id="JQWC_word_119" style="position: absolute; left: 763.893px; top: 288.027px; font-size: 22px;">owes</span>
            <span class="distractor" id="JQWC_word_118" style="position: absolute; left: 518.679px; top: 365.698px; font-size: 16px;">own</span>
            <span class="distractor" id="JQWC_word_117" style="position: absolute; left: 655.331px; top: 824.92px; font-size: 25px;">corcoran</span>
            <span class="distractor" id="JQWC_word_116" style="position: absolute; left: 105.189px; top: 352.862px; font-size: 16px;">sources</span>
            <span class="distractor" id="JQWC_word_115" style="position: absolute; left: 271.776px; top: 747.365px; font-size: 23px;">cesar</span>
            <span class="distractor" id="JQWC_word_114" style="position: absolute; left: 676.261px; top: 195.654px; font-size: 15px;">nerve</span>
            <span class="distractor" id="JQWC_word_113" style="position: absolute; left: 611.504px; top: 156.108px; font-size: 25px;">moses</span>
            <span class="distractor" id="JQWC_word_112" style="position: absolute; left: 730.764px; top: 734.341px; font-size: 20px;">summer</span>
            <span class="distractor" id="JQWC_word_111" style="position: absolute; left: 683.313px; top: 224.442px; font-size: 22px;">scanners</span>
            <span class="distractor" id="JQWC_word_110" style="position: absolute; left: 832.451px; top: 537.9px; font-size: 18px;">assurance</span>
            <span class="distractor" id="JQWC_word_109" style="position: absolute; left: 238.808px; top: 685.878px; font-size: 15px;">erase</span>
            <span class="distractor" id="JQWC_word_108" style="position: absolute; left: 459.045px; top: 187.009px; font-size: 21px;">o'connor</span>
            <span class="distractor" id="JQWC_word_107" style="position: absolute; left: 817.7px; top: 395.35px; font-size: 21px;">severance</span>
            <span class="distractor" id="JQWC_word_106" style="position: absolute; left: 590.719px; top: 203.84px; font-size: 19px;">answers</span>
            <span class="distractor" id="JQWC_word_105" style="position: absolute; left: 769.881px; top: 511.713px; font-size: 17px; cursor: default;">across</span>
            <span class="distractor" id="JQWC_word_104" style="position: absolute; left: 554.697px; top: 231.704px; font-size: 18px;">assurances</span>
            <span class="distractor" id="JQWC_word_103" style="position: absolute; left: 794.983px; top: 332.134px; font-size: 19px;">monroe</span>
            <span class="distractor" id="JQWC_word_102" style="position: absolute; left: 166.737px; top: 299.635px; font-size: 16px;">converse</span>
            <span class="distractor" id="JQWC_word_101" style="position: absolute; left: 147.39px; top: 574.433px; font-size: 18px;">summer</span>
            <span class="distractor" id="JQWC_word_100" style="position: absolute; left: 825.332px; top: 362.413px; font-size: 19px;">omar</span>
            <span class="distractor" id="JQWC_word_99" style="position: absolute; left: 669.754px; top: 290.366px; font-size: 25px;">worsen</span>
            <span class="distractor" id="JQWC_word_98" style="position: absolute; left: 556.836px; top: 736.47px; font-size: 17px;">summers</span>
            <span class="distractor" id="JQWC_word_97" style="position: absolute; left: 208.63px; top: 322.974px; font-size: 22px;">ramon</span>
            <span class="distractor" id="JQWC_word_96" style="position: absolute; left: 631.587px; top: 763.047px; font-size: 19px;">norcross</span>
            <span class="distractor" id="JQWC_word_95" style="position: absolute; left: 279.097px; top: 421.096px; font-size: 16px;">same</span>
            <span class="distractor" id="JQWC_word_94" style="position: absolute; left: 178.079px; top: 372.911px; font-size: 16px;">newsroom</span>
            <span class="distractor" id="JQWC_word_93" style="position: absolute; left: 505.884px; top: 761.565px; font-size: 21px;">warren</span>
            <span class="distractor" id="JQWC_word_92" style="position: absolute; left: 298.649px; top: 206.187px; font-size: 20px;">saws</span>
            <span class="distractor" id="JQWC_word_91" style="position: absolute; left: 282.335px; top: 264.718px; font-size: 17px;">scorer</span>
            <span class="distractor" id="JQWC_word_90" style="position: absolute; left: 441.149px; top: 777.23px; font-size: 20px;">moon</span>
            <span class="distractor" id="JQWC_word_89" style="position: absolute; left: 106.151px; top: 482.66px; font-size: 17px;">commune</span>
            <span class="distractor" id="JQWC_word_88" style="position: absolute; left: 155.559px; top: 412.257px; font-size: 19px;">sara</span>
            <span class="distractor" id="JQWC_word_87" style="position: absolute; left: 131.327px; top: 554.274px; font-size: 16px;">caucasus</span>
            <span class="distractor" id="JQWC_word_86" style="position: absolute; left: 661.378px; top: 719.014px; font-size: 17px;">roars</span>
            <span class="distractor" id="JQWC_word_85" style="position: absolute; left: 400.023px; top: 274.316px; font-size: 16px;">warmer</span>
            <span class="distractor" id="JQWC_word_84" style="position: absolute; left: 791.486px; top: 429.042px; font-size: 22px;">maze</span>
            <span class="distractor" id="JQWC_word_83" style="position: absolute; left: 516.55px; top: 680.24px; font-size: 22px;">cease</span>
            <span class="distractor" id="JQWC_word_82" style="position: absolute; left: 856.938px; top: 496.612px; font-size: 23px;">announcer</span>
            <span class="distractor" id="JQWC_word_81" style="position: absolute; left: 290.956px; top: 685.91px; font-size: 16px;">manners</span>
            <span class="distractor" id="JQWC_word_80" style="position: absolute; left: 713.23px; top: 319.192px; font-size: 25px;">names</span>
            <span class="distractor" id="JQWC_word_79" style="position: absolute; left: 562.17px; top: 787.081px; font-size: 21px;">racer</span>
            <span class="distractor" id="JQWC_word_78" style="position: absolute; left: 662.547px; top: 266.273px; font-size: 16px;">oeuvre</span>
            <span class="distractor" id="JQWC_word_77" style="position: absolute; left: 395.181px; top: 596.381px; font-size: 15px;">saw</span>
            <span class="distractor" id="JQWC_word_76" style="position: absolute; left: 673.02px; top: 393.864px; font-size: 16px;">courses</span>
            <span class="distractor" id="JQWC_word_75" style="position: absolute; left: 180.134px; top: 597.725px; font-size: 16px;">renown</span>
            <span class="distractor" id="JQWC_word_74" style="position: absolute; left: 230.838px; top: 716.271px; font-size: 24px;">ron</span>
            <span class="distractor" id="JQWC_word_73" style="position: absolute; left: 226.924px; top: 508.522px; font-size: 24px;">usc</span>
            <span class="distractor" id="JQWC_word_72" style="position: absolute; left: 400.687px; top: 244.265px; font-size: 19px;">'re</span>
            <span class="distractor" id="JQWC_word_71" style="position: absolute; left: 456.651px; top: 251.038px; font-size: 16px;">renounce</span>
            <span class="distractor" id="JQWC_word_70" style="position: absolute; left: 182.928px; top: 439.719px; font-size: 23px;">essex</span>
            <span class="distractor" id="JQWC_word_69" style="position: absolute; left: 465.22px; top: 315.061px; font-size: 18px;">acumen</span>
            <span class="distractor" id="JQWC_word_68" style="position: absolute; left: 425.633px; top: 643.538px; font-size: 24px;">m.a</span>
            <span class="distractor" id="JQWC_word_67" style="position: absolute; left: 555.068px; top: 415.469px; font-size: 15px;">owen</span>
            <span class="distractor" id="JQWC_word_66" style="position: absolute; left: 476.165px; top: 730.969px; font-size: 25px;">zoom</span>
            <span class="distractor" id="JQWC_word_65" style="position: absolute; left: 771.546px; top: 598.281px; font-size: 20px;">ncaa</span>
            <span class="distractor" id="JQWC_word_64" style="position: absolute; left: 750.946px; top: 404.725px; font-size: 16px;">screen</span>
            <span class="distractor" id="JQWC_word_63" style="position: absolute; left: 396.645px; top: 291.687px; font-size: 21px;">scores</span>
            <span class="distractor" id="JQWC_word_62" style="position: absolute; left: 791.243px; top: 558.876px; font-size: 25px;">moreover</span>
            <span class="distractor" id="JQWC_word_61" style="position: absolute; left: 533.754px; top: 572.827px; font-size: 18px;">ceases</span>
            <span class="distractor" id="JQWC_word_60" style="position: absolute; left: 509.72px; top: 616.921px; font-size: 18px;">rows</span>
            <span class="distractor" id="JQWC_word_59" style="position: absolute; left: 690.22px; top: 356.835px; font-size: 19px;">screens</span>
            <span class="distractor" id="JQWC_word_58" style="position: absolute; left: 260.441px; top: 439.994px; font-size: 15px;">mormon</span>
            <span class="distractor" id="JQWC_word_57" style="position: absolute; left: 131.378px; top: 503.826px; font-size: 23px;">owners</span>
            <span class="distractor" id="JQWC_word_56" style="position: absolute; left: 425.228px; top: 221.476px; font-size: 21px;">common</span>
            <span class="distractor" id="JQWC_word_55" style="position: absolute; left: 228.35px; top: 625.772px; font-size: 22px;">assurances</span>
            <span class="distractor" id="JQWC_word_54" style="position: absolute; left: 274.271px; top: 400.594px; font-size: 16px;">nam</span>
            <span class="distractor" id="JQWC_word_53" style="position: absolute; left: 603.338px; top: 361.43px; font-size: 21px;">raw</span>
            <span class="distractor" id="JQWC_word_52" style="position: absolute; left: 661.833px; top: 538.884px; font-size: 15px;">screen</span>
            <span class="distractor" id="JQWC_word_51" style="position: absolute; left: 753.078px; top: 558.263px; font-size: 21px;">umm</span>
            <span class="distractor" id="JQWC_word_50" style="position: absolute; left: 674.575px; top: 644.794px; font-size: 25px;">verses</span>
            <span class="distractor" id="JQWC_word_49" style="position: absolute; left: 745.532px; top: 478.52px; font-size: 19px;">raw</span>
            <span class="distractor" id="JQWC_word_48" style="position: absolute; left: 409.149px; top: 739.508px; font-size: 23px;">wow</span>
            <span class="distractor" id="JQWC_word_47" style="position: absolute; left: 688.126px; top: 682.671px; font-size: 25px;">amman</span>
            <span class="distractor" id="JQWC_word_46" style="position: absolute; left: 499.419px; top: 465.058px; font-size: 15px;">oscar</span>
            <span class="distractor" id="JQWC_word_45" style="position: absolute; left: 481.571px; top: 395.104px; font-size: 15px;">areas</span>
            <span class="distractor" id="JQWC_word_44" style="position: absolute; left: 587.713px; top: 387.939px; font-size: 16px;">onscreen</span>
            <span class="distractor" id="JQWC_word_43" style="position: absolute; left: 447.011px; top: 564.669px; font-size: 15px;">men</span>
            <span class="distractor" id="JQWC_word_42" style="position: absolute; left: 533.599px; top: 340.416px; font-size: 16px;">runners</span>
            <span class="distractor" id="JQWC_word_41" style="position: absolute; left: 610.076px; top: 334.523px; font-size: 16px;">crowns</span>
            <span class="distractor" id="JQWC_word_40" style="position: absolute; left: 670.576px; top: 416.943px; font-size: 17px;">curses</span>
            <span class="distractor" id="JQWC_word_39" style="position: absolute; left: 486.36px; top: 283.165px; font-size: 25px;">comes</span>
            <span class="distractor" id="JQWC_word_38" style="position: absolute; left: 279.205px; top: 594.935px; font-size: 22px;">sewn</span>
            <span class="distractor" id="JQWC_word_37" style="position: absolute; left: 476.45px; top: 650.941px; font-size: 21px;">maroon</span>
            <span class="distractor" id="JQWC_word_36" style="position: absolute; left: 303.832px; top: 291.713px; font-size: 24px;">ensure</span>
            <span class="distractor" id="JQWC_word_35" style="position: absolute; left: 574.896px; top: 297.037px; font-size: 25px;">scam</span>
            <span class="distractor" id="JQWC_word_34" style="position: absolute; left: 666.655px; top: 607.621px; font-size: 23px;">razor</span>
            <span class="distractor" id="JQWC_word_33" style="position: absolute; left: 340.601px; top: 519.477px; font-size: 17px;">moons</span>
            <span class="distractor" id="JQWC_word_32" style="position: absolute; left: 270.672px; top: 358.41px; font-size: 25px;">norman</span>
            <span class="distractor" id="JQWC_word_31" style="position: absolute; left: 673.645px; top: 559.517px; font-size: 22px;">oscars</span>
            <span class="distractor" id="JQWC_word_30" style="position: absolute; left: 697.692px; top: 440.919px; font-size: 20px;">courses</span>
            <span class="distractor" id="JQWC_word_29" style="position: absolute; left: 561.439px; top: 627.452px; font-size: 17px;">erroneous</span>
            <span class="distractor" id="JQWC_word_28" style="position: absolute; left: 301.106px; top: 319.348px; font-size: 21px;">sara</span>
            <span class="distractor" id="JQWC_word_27" style="position: absolute; left: 337.475px; top: 650.542px; font-size: 24px;">eraser</span>
            <span class="distractor" id="JQWC_word_26" style="position: absolute; left: 603.462px; top: 408.623px; font-size: 15px;">ussr</span>
            <span class="distractor" id="JQWC_word_25" style="position: absolute; left: 338.099px; top: 573.074px; font-size: 24px;">usa</span>
            <span class="distractor" id="JQWC_word_24" style="position: absolute; left: 384.763px; top: 688.586px; font-size: 24px;">concurs</span>
            <span class="distractor" id="JQWC_word_23" style="position: absolute; left: 294.287px; top: 463.607px; font-size: 23px;">unsure</span>
            <span class="distractor" id="JQWC_word_22" style="position: absolute; left: 346.037px; top: 391.37px; font-size: 24px;">moons</span>
            <span class="distractor" id="JQWC_word_21" style="position: absolute; left: 279.23px; top: 519.64px; font-size: 20px;">scams</span>
            <span class="distractor" id="JQWC_word_20" style="position: absolute; left: 539.938px; top: 387.646px; font-size: 19px;">mom</span>
            <span class="distractor" id="JQWC_word_19" style="position: absolute; left: 670.035px; top: 506.702px; font-size: 24px;">scream</span>
            <span class="distractor" id="JQWC_word_18" style="position: absolute; left: 600.432px; top: 576.177px; font-size: 25px;">aura</span>
            <span class="distractor" id="JQWC_word_17" style="position: absolute; left: 469.392px; top: 618.663px; font-size: 15px;">russ</span>
            <span class="distractor" id="JQWC_word_16" style="position: absolute; left: 621.014px; top: 520.623px; font-size: 20px;">max</span>
            <span class="distractor" id="JQWC_word_15" style="position: absolute; left: 346.001px; top: 491.448px; font-size: 17px;">arm</span>
            <span class="distractor" id="JQWC_word_14" style="position: absolute; left: 539.184px; top: 432.48px; font-size: 21px;">romano</span>
            <span class="distractor" id="JQWC_word_13" style="position: absolute; left: 371.133px; top: 334.178px; font-size: 23px;">sonoma</span>
            <span class="distractor" id="JQWC_word_12" style="position: absolute; left: 406.964px; top: 369.42px; font-size: 19px;">consensus</span>
            <span class="distractor" id="JQWC_word_11" style="position: absolute; left: 487.272px; top: 412.066px; font-size: 17px;">monroe</span>
            <span class="distractor" id="JQWC_word_10" style="position: absolute; left: 550.53px; top: 544.339px; font-size: 24px;">mason</span>
            <span class="distractor" id="JQWC_word_9" style="position: absolute; left: 397.668px; top: 498.14px; font-size: 15px;">vancouver</span>
            <span class="distractor" id="JQWC_word_8" style="position: absolute; left: 417.502px; top: 391.182px; font-size: 18px;">sewn</span>
            <span class="distractor" id="JQWC_word_7" style="position: absolute; left: 449.449px; top: 585.439px; font-size: 20px;">errors</span>
            <span class="distractor" id="JQWC_word_6" style="position: absolute; left: 376.127px; top: 537.659px; font-size: 24px;">noon</span>
            <span class="distractor" id="JQWC_word_5" style="position: absolute; left: 548.73px; top: 517.657px; font-size: 19px;">roars</span>
            <span class="distractor" id="JQWC_word_4" style="position: absolute; left: 604.204px; top: 473.115px; font-size: 25px;">someone</span>
            <span class="distractor" id="JQWC_word_3" style="position: absolute; left: 441.511px; top: 419.353px; font-size: 15px;">a.m</span>
            <span class="distractor" id="JQWC_word_2" style="position: absolute; left: 426.661px; top: 518.314px; font-size: 17px;">u.s.a</span>
            <span class="distractor" id="JQWC_word_1" style="position: absolute; left: 492.254px; top: 481.677px; font-size: 25px;">cream</span>
            <span class="distractor" id="JQWC_word_0" style="position: absolute; left: 486.685px; top: 520.437px; font-size: 16px;">mercer</span>
            <span id="center_cross" style="position: absolute; top: 480px; left: 487.016px; font-size: 30px; color: red; cursor: pointer;">✛</span>
            <span class="target ring0" style="visibility: visible; font-size: 22px; color: black; position: absolute; left: 452.624px; top: 438.047px;">nascar</span>
            <span class="target ring0" style="visibility: visible; font-size: 20px; color: black; position: absolute; left: 417.509px; top: 470.1px;">marcus</span>
            <span class="target ring0" style="visibility: visible; font-size: 20px; color: black; position: absolute; left: 467.754px; top: 538.359px;">reeves</span>
            <span class="target ring1" style="visibility: visible; font-size: 22px; color: black; position: absolute; left: 380.401px; top: 614.638px;">monroe</span>
            <span class="target ring1" style="visibility: visible; font-size: 20px; color: black; position: absolute; left: 324.73px; top: 432.787px;">aromas</span>
            <span class="target ring1" style="visibility: visible; font-size: 20px; color: black; position: absolute; left: 460.647px; top: 338.537px;">rescue</span>
            <span class="target ring2" style="visibility: visible; font-size: 22px; color: black; position: absolute; left: 216.983px; top: 546.177px;">summer</span>
            <span class="target ring2" style="visibility: visible; font-size: 20px; color: black; position: absolute; left: 581.176px; top: 709.339px;">common</span>
            <span class="target ring2" style="visibility: visible; font-size: 20px; color: black; position: absolute; left: 561.551px; top: 258.318px;">ceases</span>
        </div>
    </div>


    <div style="margin:auto; width:1000px">
        <fieldset>
            <legend>
                <h2>Continue: </h3>
            </legend>
            <a id="simple_link" onclick="addBlock()" href="javascript:void(0);">
                See the blocking effect
            </a>
            <p>When you are ready, click "Next" below.<br></p>
            <button id="start_stim">Next</button>
        </fieldset>
    </div>

    <form action="{{url_for('get_stimuli_page')}}" method="POST" id="get_stimuli_page">
        <input type="hidden" name="experiment" value="multiple_circles">
    </form>

    <script type="text/javascript" src="{{url_for('static', filename='jquery-3.4.1.min.js')}}"></script>
    <script type="text/javascript">
        var turker_id = '{{ ID }}';
        var participant = '{{ Participant }}'

        initialize();

        function initialize() {
            var next = document.getElementById('start_stim');
            if (next) {
                next.onclick = onNextClicked;
            }
            console.log(turker_id);
            if (participant === "tested") {
                $("body").html("Hello " + turker_id + ", you have already participated in this research. \n If this is your first time participating in this research, please contant us at xxx@carleton.edu. \n Thank you for your understanding.")
            }
        }

        $("#sample_block").attr('class', 'block')
            .css('font-size', '25px')
            .css('padding-left', '30px')
            .css('background', '#2C3539')
            .css('cursor', 'pointer')
            .html('&nbsp;&nbsp;&nbsp;&nbsp;');

        function addBlock() {
            $("#JQWC").append('<span id="block0"class="block" style="font-size: 25px; padding-left: 30px; background: rgb(44, 53, 57); position: absolute; left: 439.959px; top: 530.557px; cursor: pointer;">&nbsp;&nbsp;&nbsp;&nbsp;</span><span id="block1" class="block" style="font-size: 25px; padding-left: 30px; background: rgb(44, 53, 57); position: absolute; left: 492.041px; top: 445.943px; cursor: pointer;">&nbsp;&nbsp;&nbsp;&nbsp;</span>');
        }

        function onNextClicked() {
            var input = $("<input>").attr("type", "hidden").attr("name", "turker_id").val(turker_id);
            $('#get_stimuli_page').append(input).submit();
        }
    </script>

</body>

</html>