<!DOCTYPE html>
<html>
	<head>
		<title>WordCloud</title>
		<meta charset="UTF-8">
		<!--<link rel="stylesheet" href="static/Schoogle_Home.css">-->
		
	</head>

	<body>
        <h1>Sample Random WordCloud</h1>
        
        <h2>Hello, Tuckers</h2>
        <p><input id="numberOfWords"></p>
        <p>
            <button id="Button_getWordList">Get WordList</button>
            <button id="Button_getWordCloud">Get WordCloud</button>
        </p>
        
        <p><table id="Cloud_Table"></table></p>

        <div id="vis">
            <svg width = "960" height = "600" id="WordCloud">

            </svg>
        </div>
        <script type="text/javascript" src="static/d3.v3.js"></script>
        <script type="text/javascript" src="static/d3.layout.cloud.js"></script>
        <script type="text/javascript" src="static/index.js"></script>
        
    </body>
    
</html>