<!DOCTYPE html>
<html>
	<head>
		<title>WordCloud</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{{url_for('static', filename='jqcloud.css')}}">
		
	</head>

	<body>
        <h1 style="text-align: center;">Sample Random WordCloud</h1>
        
        <h2 style="text-align: center;">Hello, Tuckers</h2>
        <p style="text-align: center;">
            <input id="numberOfWords"></p>
        <p style="text-align: center;">
            <button id="Button_getWordList">Get WordList</button>
            <button id="Button_getJQWC">Get JQWordCloud</button>
        </p>
        
        <!-- <p><table id="Cloud_Table"></table></p> -->

        <div id="WordCloudContainer" style="text-align: center;">
            <div id="JQWC" style="width: 650px; height: 450px; display: inline-block;"></div>
        </div>
        
        <script type="text/javascript" src="{{url_for('static', filename='jquery-3.4.1.min.js')}}"></script>
        <script type="text/javascript" src="{{url_for('static', filename='jqcloud-1.0.4.js')}}"></script>
        <script type="text/javascript" src="{{url_for('static', filename='index.js')}}"></script>
        
    </body>
    
</html>