<!DOCTYPE html>
<html>
	<head>
		<title>Welcome</title>
        <meta charset="UTF-8">
		
	</head>

	<body>
        <h1 style="text-align: center;">Word Recognition Study</h1>
        
        <h2 style="text-align: center;">Hello, Turkers</h2>
        <div style="text-align: center;">
            <p>Please provide you Amazon Turker ID</p>
            <input id="turker_id">
        </div>
        <div style="text-align: center;">
            <p>
            Here we need to show them the agreements</br>
            Talk about this project</br>
            </p>
            <button id="next">Next</button>
        </div>
        

        <form action="{{url_for('get_description')}}" method = "POST" id="get_description_page"></form>
        <script type="text/javascript">
            var turker_id_url = '{{url_for("receive_id")}}';
        </script>
        <script type="text/javascript" src="{{url_for('static',filename = 'jquery-3.4.1.min.js')}}"></script>
        <script type="text/javascript" src="{{url_for('static', filename = 'landing.js')}}"></script>
        
    </body>
    
</html>