<!DOCTYPE html>
<html>
	<head>
		<title>WordCloud</title>
        <meta charset="UTF-8">
        <!-- <link rel="shortcut icon" href=""> -->
        <link rel="stylesheet" href="../static/jqcloud.css">
		
	</head>

	<body>
        <div id="WordCloudContainer" style="text-align: center;">
            <div id="JQWC" style="width: 650px; height: 450px; display: inline-block;" class="jqcloud">
            {{ cloud_info }}    
            </div>
        </div>        

        <script type="text/javascript" src="../static/jquery-3.4.1.min.js"></script>
        <script type="text/javascript" src="../static/jqcloud-1.0.4.js"></script>
        <!-- <script type="text/javascript" src="static/index.js"></script> -->
        
    </body>
    
</html>