<!DOCTYPE html>
<html>
	<head>
		<title>WordCloud Stimuli</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{{url_for('static', filename='jqcloud.css')}}">
		{{ flask_util_js.js }}
	</head>

	<body>
        <div id="Status_Bar" style="position: fixed; left:50%; transform: translateX(-50%)">
            <div><h3>Hello, {{ID}}. Please always look at the red cross. Click it to start.</h3></div>
        </div>

        <div id="WordCloudContainer" style="text-align: center;">
            <div id="JQWC" style="width: 1000px; height: 1000px; display: inline-block; position: relative;"><span id="center_cross" style="position: absolute;top: 480px;left: 487.0156px;font-size: 30px;color: red;">&#10011;</span></div>
        </div>





        <form action="{{url_for('get_completion')}}" method = "POST" id="get_completion_page">
        </form>
        <script type="text/javascript" src="{{url_for('static', filename='jquery-3.4.1.min.js')}}"></script>
        <script>
            var turker_id = '{{ ID }}';
            var tasklist = {{ List_From_Server|tojson }}
            var post_data_url = '{{url_for("post_data")}}'
            var post_data_multi_url = '{{url_for("post_data_multi")}}'
            $("#center_cross").css("cursor", "pointer")
                .bind("click",function(){onStartButtonClicked();});
        </script>

        <script type="text/javascript" src="{{url_for('static', filename='jqcloud-1.0.4.js')}}"></script>
        <script type="text/javascript" src="{{url_for('static', filename='stimuli_new.js')}}"></script>
        
    </body>
    
</html>