<!DOCTYPE html>
<html>
	<head>
		<title>WordCloud Stimuli</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{{url_for('static', filename='jqcloud.css')}}">
		{{ flask_util_js.js }}
	</head>

	<body>
        <div id="Greeting">
            <h1 style="text-align: center;">Stimuli</h1>
            
            <h2 style="text-align: center;">Hello, {{ID}}</h2>
            <h4 style="text-align: center;">Please try your best to look at the red dot</p>
            <p style="text-align: center;">
                <button id="Button_startStimuli">Start!</button>
            </p>
            <!-- <span style="font-size:30px; padding-left:30px; background:red;">&nbsp;</span> -->
        </div>

        <div id="WordCloudContainer" style="text-align: center;">
            <div id="JQWC" style="width: 1000px; height: 1000px; display: inline-block; position: relative;"><span class="dot" style="position: absolute;top: 500px;left: 500px;height: 5px;width: 5px;background-color: red;border-radius: 35%;display: inline-block;"></span></div>
        </div>





        <form action="{{url_for('get_completion')}}" method = "POST" id="get_completion_page">
        </form>

        <script>
            var turker_id = '{{ ID }}';
            var tasklist =JSON.parse('{{ List_From_Server }}'.replace(/&#34;/g,'"')); //received the task list as a string, and parse it in JS
            var post_data_url = '{{url_for("post_data")}}'
            var post_data_multi_url = '{{url_for("post_data_multi")}}'
        </script>
        <script type="text/javascript" src="{{url_for('static', filename='jquery-3.4.1.min.js')}}"></script>
        <script type="text/javascript" src="{{url_for('static', filename='jqcloud-1.0.4.js')}}"></script>
        <script type="text/javascript" src="{{url_for('static', filename='stimuli_new.js')}}"></script>
        
    </body>
    
</html>