<!DOCTYPE html>
<html>
	<head>
		<title>WordCloud</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{{url_for('static', filename='jqcloud.css')}}">
		
	</head>

	<body>
        <h1 style="text-align: center;">Stimuli</h1>
        
        <h2 style="text-align: center;">Hello, {{ID}}</h2>
        <p style="text-align: center;">
            <button id="Button_startStimuli">Start!</button>
        </p>
        

        <div id="WordCloudContainer" style="text-align: center;">
            <div id="JQWC" style="width: 650px; height: 450px; display: inline-block;"></div>
        </div>





        <form action="{{url_for('get_completion')}}" method = "POST" id="get_completion_page">
        </form>

        <script>
            var turker_id = '{{ ID }}';
            var read_list ={{ List_From_Server }};  
        </script>
        <script type="text/javascript" src="{{url_for('static', filename='jquery-3.4.1.min.js')}}"></script>
        <script type="text/javascript" src="{{url_for('static', filename='jqcloud-1.0.4.js')}}"></script>
        <script type="text/javascript" src="{{url_for('static', filename='stimuli.js')}}"></script>
        
    </body>
    
</html>